<div class="container-full">
  <app-navbar  (searchuser)="searchUser($event)"></app-navbar>
</div>
<div class="container-full" >
  <ng-progress></ng-progress>
  <div class="profile">
    <div class="row">
      <div class="col-md-6">
        <div class="avatar">
          <img src="{{users?.avatar_url}}" alt="">
        </div>
        <div class="info">
          <div class="card alert-dark">
            <div class="card-body">
              <div class="user_name">
                <h3>{{users?.login}}</h3>
                <h5>{{users?.name}}</h5>
              </div>
              <div class="profile-detail">
                <p>joined on: <i>{{users?.created_at | date}}</i></p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">


<!--        <div class="card profile-info">-->
<!--          <div class="card-body">-->
<!--            <ul class=" card-text list-group list-group-flush">-->
<!--              <li class="list-group-item animated fadeInRight"> <i class="fa fa-user-friends"></i> Followers:-->
<!--                {{users?.followers}}</li>-->

<!--              <li class="list-group-item animated fadeInRight"> <i class="fa fa-users f0c0"></i> Following:-->
<!--                {{users?.following}}</li>-->

<!--              <li class="list-group-item animated fadeInRight"> <i class="fa fa-folder-open"></i> Repos:-->
<!--                {{users?.public_repos}}</li>-->

<!--              <li class="list-group-item animated fadeInRight"> <i class="fa fa-clock pr-1"></i> Joined on:-->
<!--                {{users?.created_at|date}}</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->



<!--      </div>-->
<!--        </div>-->

        <div class="card1 col-6 rounded">

          <div class="card-body">




            <ul class=" card-text list-group list-group-flush">
              <li class="list-group-item animated fadeInRight"> <i class="fa fa-user-friends"></i> Followers:
                {{users?.followers}}</li>

              <li class="list-group-item animated fadeInRight"> <i class="fa fa-users f0c0"></i> Following:
                {{users?.following}}</li>

              <li class="list-group-item animated fadeInRight"> <i class="fa fa-folder-open"></i> Repos:
                {{users?.public_repos}}</li>

              <li class="list-group-item animated fadeInRight"> <i class="fa fa-clock pr-1"></i> Joined on:
                {{users?.created_at|date}}</li>
            </ul>
          </div>


        </div>

      </div>
      <hr class="my-4">






    <div class="repos" >
      <h3 class="h3 text-center"><b>REPOSITORIES</b> </h3>
      <div class="row fadeIn card-columns">
        <div class="col-md-4 card repo" *ngFor="let repo of repos ">
          <div class="card-body ">
            <h4 class="card-title animated fadeInRight">
              <p class="" appDirective> {{repo.name}} </p>

            </h4>
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <i>Created on: {{repo.created_at | date}}</i>
                </div>
                <div class="col-md-6">
                  <i>Updated {{repo.updated_at | dateCount}}</i>
                </div>
              </div>
            </div>
            <hr>
            <div class="container">
              <div class="row">
                <div class="col-md-8">
                  <ul class=" card-text list-group list-group-flush">
                    <li class="list-group-item animated fadeInLeft"> <i class="fas fa-fingerprint"></i> Repo ID: {{repo.id}}
                    </li>

                    <li class="list-group-item animated fadeInLeft"> <i class="fas fa-clipboard"></i> Repo Name:
                      {{repo.name}}</li>

                    <li class="list-group-item animated fadeInLeft"> <i class="fas fa-file-signature"></i> Repo Description:
                      {{repo.description}}</li>

                    <li class="list-group-item animated fadeInLeft"> <i class="fas fa-code"></i> Language:
                      {{repo.language}}</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class=" card-text list-group list-group-flush">
                    <li class="list-group-item animated fadeInLeft"> <i class="fas fa-code-branch"></i> branch: {{repo.default_branch}}
                    </li>

                    <li class="list-group-item animated fadeInLeft"> <i class="fas fa-eye"></i> unwatch: {{repo.watchers}}
                    </li>

                    <li class="list-group-item animated fadeInLeft"> <i class="fas fa-star"></i> stars: {{repo.stargazers_count}}
                    </li>

                    <li class="list-group-item animated fadeInLeft"> <i class="fas fa-code-branch"></i> fork: {{repo.forks}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div class="rounded-bottom lighten-3 text-center pt-3">
            <ul class="list-unstyled list-inline font-small">
              <a target="_blank" href="{{repo.url}}" class="checkout btn btn-dark "> See Github

              </a>
            </ul>
          </div>

        </div>
      </div>
    </div>
    </div>
  </div>


